@import url(https://fonts.googleapis.com/css?family=Fraunces:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Barlow:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root{
    /*primary colors*/
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan-text: hsl(167, 40%, 24%);
    --dark-blue-text: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    /*secondary colors*/
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    --white-transparent: #ffffff5e;
    --black: #000000;
    --color: #30b200;
    /*fonts*/
    --font-fraunces:"Fraunces",serif;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html, body{
    font-family: 'Barlow', sans-serif;
}

button{
    border: none;
    background: none;

}

li{
    list-style: none;
}

.header{
    width: 100%;
    height: 80vh;
    background-image: url(./images/mobile/image-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    position: relative;
}

.header__nav .menu-list{
    display:none;
    background-color: var(--white);
    width:96%;
    position: absolute;
    top:80px;
    padding: 20px 0px;
    left: 2%;
}

.header__nav .menu-list--active{
    display: block;
}

.header__nav .menu-list .menu-list__item{
    text-align: center;
    padding: 12px;
}

.menu-list .menu-list__item a{
    text-decoration: none;
    color:var(--very-dark-grayish-blue);
    font-weight: 600;
}

#menu-contact{
    background-color: var(--yellow);
    color: var(--black);
    font-family: var(--font-fraunces);
    font-weight: 700;
    padding: 12px 20px;   
    border-radius: 2rem; 
}

.header__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 100%;
    margin: 90px 0;
}


.header__info h1{
    font-family: 'Fraunces', serif;
    font-size: 2.8rem;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 6px;
}

/* empieza el main */
.main-content{

}
.main-content__features{
    width: 100%;

}
.main-content__features  .features__item {

} 
.main-content__features  .features__item .item__img {
width: 100%;
height: 320px;
}
.features__item .item__img img{
width: 100%;
height: 100%;
object-fit: cover;
}
.main-content__features  .features__item .item__info{
    padding: 40px 20px;
    text-align: center;

}
.features__item .item__info h2{
 font-family: "Fraunces",serif;
 font-size: 2rem;
}
.features__item .item__info p{
color: hsl(232, 10%, 55%);
font-weight: 600;
line-height: 24px;
margin: 30px 0;
} 
.features__item .item__info a{
 font-family: "Fraunces",serif;
 font-weight: 900;
}
.services{

}
.services__item{
width: 100%;
height: 560px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.services__item:nth-child(1){
    background-image:url(./images/mobile/image-graphic-design.jpg) ;
    color:hsl(167, 40%, 24%);
}
.services__item:nth-child(2){
    background-image:url(./images/mobile/image-photography.jpg) ;
    color:hsl(198, 62%, 26%);

}
.services__item .item-info{
    text-align: center;
    position: absolute;
    bottom: 60px;
    padding: 0 15px;
}

.services__item .item-info h2{
   font-family:"Fraunces",serif; 
   font-weight: 900;
   margin-bottom: 30px;
   font-size: 1.8rem;
}
.services__item .item-info p{
    font-weight: 600;
    line-height: 26px;
}
.testimonials{
    margin: 60px 0;
}
.testimonials__tittle{
    text-align: center;
    font-family: "Fraunces", serif;
    color:var(--grayish-blue) ;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 3px;

}
.testimonials__container{

}
.testimonial{
    text-align: center;
    margin-top: 70px;

}
.testimonial  .testimonial__img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    margin: 30px auto;
    
}

.testimonial  .testimonial__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.testimonial .testimonial__description{
    color: var(--dark-grayish-blue);
    font-weight: 600;
    line-height: 30px;
    font-size: 1.2rem;
    margin-bottom: 30px;    

}

.testimonial .testimonial__name{
    font-family: var(--font-fraunces);
    color:var(--very-dark-desaturated-blue);
    font-weight: 900;
    margin-bottom: 12px;
}

.testimonial .testimonial__position{
color: var(--grayish-blue);
font-weight: 600;
}
.gallery-container{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(2,190px);
    width: 100%;

}

.gallery-container .gallery-container__item{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gallery-container .gallery-container__item:nth-child(1){
    background-image:url(./images/mobile/image-gallery-milkbottles.jpg) ;
}
.gallery-container .gallery-container__item:nth-child(2){
    background-image: url(./images/mobile/image-gallery-orange.jpg);
}
.gallery-container .gallery-container__item:nth-child(3){
    background-image: url(./images/mobile/image-gallery-cone.jpg);
}
.gallery-container .gallery-container__item:nth-child(4){
    background-image: url(./images/mobile/image-gallery-sugar-cubes.jpg);
}



.footer{
    background-color:#90D4C5;
    text-align: center;
    padding:60px 0px;
    
} 

.footer-container{

}

.footer .footer-logo{

}
.footer .footer-logo svg{
    transform:scale(1.4);
    

} 
.footer .footer-container .footer__links{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px 0;
}
.footer__links  .footer-links__item a{
    text-decoration: none;
    color:var(--dark-desaturated-cyan-text) ; 
    font-weight: 700;  
    font-size: 1.2rem;
}




.footer-social{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
.attribution{
    position: relative;
    top: 26px;
    padding: 0 15px;
    color:var(--dark-desaturated-cyan-text);
}
.attribution  a{
    color:var(--dark-blue-text);
    font-weight: 600;
    text-decoration: none;
}


/* Media Queries for Responsive Design */

/*Tablet*/
@media only screen and (min-width:640px){

    .header__info{
        margin-top:150px;
    }

    .header__info h1{
        font-size:3.6rem;
    }

    .main-content__features .features__item .item__img{ 
        height: 380px;
        
    }
    .features__item .item__info p{
        width: 360px;
        margin: 30px auto;
    }
    .services__item .item-info{

    }
    .testimonials__container .testimonial{
       width: 360px; 
       margin-left: auto;
       margin-right: auto;
    }
    .gallery-container{
        grid-template-rows: repeat(2,270px);
    }

}
@media only screen and (min-width:1024px){
    .header{
        background-image: url(./images/desktop/image-header.jpg);
    }
    .menu-icon{
        display:none;
    }
    .header__nav .menu-list{
        display: block;
        background-color:transparent;
        position: static; 
        display: flex;
        width: auto;

    }
    .menu-list .menu-list__item a{
       color: var(--white);     
    }
    .main-content__features .features__item{
        display: flex;
        
    }
    #menu-contact{
       background-color:var(--white); 
       text-transform: uppercase;
       transition: all 200ms ease-in-out;
    }
    #menu-contact:hover{
        background-color: var(--white-transparent);
        color: var(--white);
    }
    .main-content__features .features__item .item__img{
        width: 50%;
    }
    .main-content__features .features__item .item__info{
        width: 50%;
        text-align: left;
        padding: 60px 80px;
    }
    .features__item .item__info p{
        margin:30px 0;
        width: 400px;
    }
    .main-content__features .features__item:first-child .item__img{
        order:2;
    }
    .services{
        display: flex;
    }
    .services .services__item:nth-child(1){
        background-image: url(./images/desktop/image-graphic-design.jpg);
    }
    .services .services__item:nth-child(2){
        background-image: url(./images/desktop/image-photography.jpg);
    }
    .testimonials__container{
        display: flex;
    }
    .testimonials {
        margin: 150px 0;
    }
    .gallery-container{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows:360px;
    }
}
 

